<div class="form-wrapper">
  <h1 class="form-top">投稿ページ</h1>
  <%= form_with model: @task, local: true do |f| %>
    <div class="field">
      <%= f.text_field :content, class:"input-default", placeholder:"タスクを入力" %>
    </div>
    <div class="actions">
      <%= f.submit "投稿する", class:"sell-btn" %>
    </div>
  <% end %>
</div>