/**********************
↓ヘッダー部分
**********************/
.header{
  height: 80px;
  background-color: #00008B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.title{
  color: #ffffff;
  font-size: 36px;
}

.lists{
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.logout-btn, .login-btn, .sign-up-btn, .user-name{
  height: 50px;
  width: 100px;
  color: #ffffff;
  border: 1px solid #696969;
  border-radius: 5px;
  background-color: #4169E1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name{
  width: 150px;
}

/**********************
↑ヘッダー部分
**********************/

.task-index-wrapper{
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.task-top{
  font-size: 40px;
  margin-bottom: 30px;
}

.task-contents{
  margin-bottom: 50px;
}

.task-content{
  width: 500px;
  height: 40px;
  font-size: 18px;
  background-color: #00008B;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
}

.task-user{
  font-size: 15px;
}

.sub-contents{
  font-size: 15px;
  margin: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.completed-btn{
  color: #ffffff;
  background-color: #00008B;
  height: 25px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.sub-content{
  color: #000000;
}

.post-btn{
  background-color: #00008B;
  height: 60px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: fixed;
  top: 100px; right: 60px;
  color: #ffffff;
}

#pull-down-lists{
  background-color: #000000; 
  height: 10px;
  width: 10px;
}

.hidden{
  display: none;
  border: 1px solid #696969;
  margin-left: 350px;
}