.task-show-wrapper{
  padding: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.show-contents{
  width: 500px;
  height: 40px;
  font-size: 20px;
  background-color: #00008B;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 5px 20px;
}

.show-edit-lists{
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.show-edit-list{
  width: 40px;
  height: 20px;
  font-size: 12px;
  color: #ffffff;
  background-color: #4169E1;
  display: flex;
  justify-content: space-around;
}

.memo_field{
  margin-top: 25px;
}