.devise-wrapper{
  padding: 20px;
}

.devise-top{
  font-size: 40px;
  margin-bottom: 30px;
}

.input-default{
  width: 300px;
  height: 30px;
}

.to-login{
  font-size: 20px;
  text-decoration : underline;
  color: #0000ee;
}